<footer class="text-center section-padding">
    <a class="up-btn" href="#top">
	    <span class="icon-arrow-up3"></span>
    </a>

	<div class="container">
		<div class="row">
        	<div class="col-md-12">
				<div class="social-buttons-container">
					<ul class="social-buttons">
						<li>
							<a class="social-btn" href="http://www.facebook.com/sharer.php?u=http://www.reclama.nl" target="_blank">
								<span class="icon-facebook"></span>
							</a>
						</li>
						<li>
							<a class="social-btn" href="http://twitter.com/share?url=http://www.reclama.nl&amp;text=Reclama&amp;hashtags=reclama" target="_blank">
								<span class="icon-twitter"></span>
							</a>
						</li>
						<li>
							<a class="social-btn" href="https://plus.google.com/share?url=http://www.reclama.nl" target="_blank">
								<span class="icon-googleplus"></span>
							</a>
						</li>
						<li>
							<a class="social-btn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.reclama.nl" target="_blank">
								<span class="icon-linkedin"></span>
							</a>
						</li>
					</ul>
				</div>
        	</div>
        </div>
        
        <!--
		<div class="row">
			<div class="col-md-12">
				<p>by <a href="http://www.reclama.com/">{{ site.title }}</a></p>
			</div>
		</div>
		-->
	</div>
</footer>