<header id="home">
    <section class="hero" id="hero" style="height: 200px !important;">
        <div class="container">
            <div class="row col-md-8 col-md-offset-2 text-center inner">
                <h1 class="animated fadeInDown">
	                <img src="http://bravebox.github.io/reclama/assets/img/reclama-logo.png" alt="{{ site.title }}" class="img-responsive" />
                </h1>
                <br/>
	            <a href="#people" class="cta-btn down-arrow-btn">
	            	<span class="icon-heart pulse"></span>
	            </a>
            </div>
        </div>
    </section>
</header>