<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ " assets/css/main.css " | prepend: site.baseurl }}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@reclama">
  <meta name="twitter:title" content="Reclama">
  <meta name="twitter:description" content="Reclama is een Rotterdams agentschap van creatieve ondernemers.">
  <meta name="twitter:image" content="http://www.reclama.nl/reclama.png">
  <meta name="twitter:creator" content="@bravebox">

  <!-- Facebook -->
  <meta property="og:title" content="Reclama" />
  <meta property="og:type" content="event" />
  <meta property="og:url" content="http://www.reclama.nl/" />
  <meta property="og:image" content="http://www.reclama.nl/reclama.png" />
  <meta property="og:description" content="Reclama is een Rotterdams agentschap van creatieve ondernemers." />
  <meta property="og:site_name" content="Reclama" />
  <meta property="fb:admins" content="100000010160318" />

  <!--[if lt IE 9]>
	  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
