<section class="text-center section-padding" id="people">
	<div class="container">
        <div class="row team-wrapper cf">
			<div class="col-md-8 col-md-offset-2 hidden_element animated delay-02s">
				<h1>Mensen</h1>
			</div>
        	<div class="col-md-12">
	            <ul class="slides">
	                <li>
					{% for member in site.data.people %}
						<div class="col-md-4 col-sm-6 wp-team-member">
							<div class="wp-member-avatar">
								<a class="wp-member-detail" href="#"><span class="icon-plus"></span></a>
						    	<img alt="{{ member.name }}" src="{{ member.avatar }}" class="img-responsive">
							</div>
						    <h2>{{ member.name }}</h2>
						    <p>{{ member.company_position }}</p>
						</div>					  
					{% endfor %}
					</li>
	            </ul>
        	</div>
        </div>
    </div>
</section>