<section class="swag swag-work text-center" id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Created with passion</h1>
			</div>
		</div>
	</div>
</section>

<section class="portfolio text-center section-padding" id="work-list">
    <div class="container row" id="portfolioSlider">
        <ul class="slides">
            <li>


                <div class="col-md-4 wp4">
                    <div class="overlay-effect effects clearfix img">
                        <img alt="Portfolio Item" src="/assets/img/work-empty.jpg">
                        <div class="overlay">
                            <a class="expand" href="#"><span class="icon-heart"></span><br>View More</a> <a class="close-overlay hidden">x</a>
                        </div>
                    </div>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                </div>

                <div class="col-md-4 wp4">
                    <div class="overlay-effect effects clearfix img">
                        <img alt="Portfolio Item" src="/assets/img/work-empty.jpg">
                        <div class="overlay">
                            <a class="expand" href="#"><span class="icon-heart"></span><br>View More</a> <a class="close-overlay hidden">x</a>
                        </div>
                    </div>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                </div>

                <div class="col-md-4 wp4">
                    <div class="overlay-effect effects clearfix img">
                        <img alt="Portfolio Item" src="/assets/img/work-empty.jpg">
                        <div class="overlay">
                            <a class="expand" href="#"><span class="icon-heart"></span><br>View More</a> <a class="close-overlay hidden">x</a>
                        </div>
                    </div>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                </div>

                <div class="col-md-4 wp4">
                    <div class="overlay-effect effects clearfix img">
                        <img alt="Portfolio Item" src="/assets/img/work-empty.jpg">
                        <div class="overlay">
                            <a class="expand" href="#"><span class="icon-heart"></span><br>View More</a> <a class="close-overlay hidden">x</a>
                        </div>
                    </div>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                </div>

                <div class="col-md-4 wp4">
                    <div class="overlay-effect effects clearfix img">
                        <img alt="Portfolio Item" src="/assets/img/work-empty.jpg">
                        <div class="overlay">
                            <a class="expand" href="#"><span class="icon-heart"></span><br>View More</a> <a class="close-overlay hidden">x</a>
                        </div>
                    </div>
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                </div>



            </li>
        </ul>
    </div>
</section>