<section class="news subscribe text-center section-padding" id="news">
    <div class="container">
    	<div class="row">
	        <div class="col-md-12 hidden_element animated delay-02s">
	            <h1 class="arrow white">Blijf op de hoogte van Reclama</h1>
				
				<form action="//digitalcreative.us7.list-manage.com/subscribe/post?u=b9ec38f47d09dae343acbc0a1&amp;id=4d4ca47781" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="je email">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b9ec38f47d09dae343acbc0a1_4d4ca47781" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
				
				
	        </div>
    	</div>
    </div>
</section>




