<section class="text-center section-padding" id="reclama">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="hidden_element animated delay-04s">We are Creativity</h1>
				<p class="hidden_element animated delay-06s">Reclama is een Rotterdams gilde van creatieve ondernemers. Projecten van Reclama zijn nooit hetzelfde; we maken websites, apps, grafisch ontwerp en video-producties maar ook doen we kunstprojecten en productuitvindingen. We werken voor reclame-bureau’s, multinationals, maar ook voor zelfstandig ondernemers of mensen met een goed idee.</p>
			</div>
		</div>
	</div>
</section>