<section class="news subscribe text-center section-padding" id="news">
    <div class="container">

    	<div class="row">
	        <div class="col-md-12 hidden_element animated delay-02s">
	            <h1 class="white hidden_element animated delay-02s">Reclama is altijd op zoek naar nieuw talent.</h1>
	            <p class="white hidden_element animated delay-04s">Ben jij diegene die we zoeken of wil je eerst meer weten over Reclama? Let us know!</p>
	        </div>
    	</div>
    	
        <div class="row contact-details">
            <div class="col-md-4 light-box hidden_element animated delay-12s">
            	<div class="inner">
	                <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
	                <p>Heer Bokelweg 155</p>
            	</div>
            </div>
            <div class="col-md-4 light-box hidden_element animated delay-16s">
            	<div class="inner">
	                <h2><i class="fa fa-mobile"></i><span>Phone (Ronald Hagenstein)</span></h2>
	                <p>+61 9 211 3747</p>
            	</div>
            </div>
            <div class="col-md-4 light-box hidden_element animated delay-20s">
            	<div class="inner">
	                <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
	                <p><a href="#">contact@reclama.nl</a></p>
            	</div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-12">
				<h1 class="white">Blijf op de hoogte</h1>
				<form action="//digitalcreative.us7.list-manage.com/subscribe/post?u=b9ec38f47d09dae343acbc0a1&amp;id=4d4ca47781" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="je email">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>

				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b9ec38f47d09dae343acbc0a1_4d4ca47781" tabindex="-1" value=""></div>
				</form>
        	</div>
        </div>

    </div>
</section>