<section class="dark-bg text-center section-padding contact-wrap" id="contact">

    <div class="container">
        <div class="row col-md-12">
            <h1 class="arrow hidden_element animated delay-02s">Contact us</h1>
        </div>

        <div class="row contact-details">
            <div class="col-md-4 light-box hidden_element animated delay-12s">
            	<div class="inner">
	                <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
	                <p>Heer Bokelweg 155</p>
            	</div>
            </div>
            <div class="col-md-4 light-box hidden_element animated delay-16s">
            	<div class="inner">
	                <h2><i class="fa fa-mobile"></i><span>Phone (Ronald Hagenstein)</span></h2>
	                <p>+61 9 211 3747</p>
            	</div>
            </div>
            <div class="col-md-4 light-box hidden_element animated delay-20s">
            	<div class="inner">
	                <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
	                <p><a href="#">contact@reclama.nl</a></p>
            	</div>
            </div>
        </div>

        <div class="row col-md-12">
			<h1 class="arrow">Share</h1>
			<ul class="social-buttons">
				<li>
					<a class="social-btn" href="http://www.facebook.com/sharer.php?u=http://www.reclama.nl" target="_blank">
						<span class="icon-facebook"></span>
					</a>
				</li>
				<li>
					<a class="social-btn" href="http://twitter.com/share?url=http://www.reclama.nl&amp;text=Reclama&amp;hashtags=reclama" target="_blank">
						<span class="icon-twitter"></span>
					</a>
				</li>
				<li>
					<a class="social-btn" href="https://plus.google.com/share?url=http://www.reclama.nl" target="_blank">
						<span class="icon-googleplus"></span>
					</a>
				</li>
				<li>
					<a class="social-btn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.reclama.nl" target="_blank">
						<span class="icon-linkedin"></span>
					</a>
				</li>
			</ul>            
        </div>
        
    </div>
</section>