
		/* 320px (iPhone) */

			@media screen and (max-width:320px) {
	
			}

		/* 480px (WVGA - Low End Windows Phone) */

			@media screen and (max-width:480px) {

				#reclama-member-container {
					margin: 0 !important;
				}
	
				.wp-team-member {
					padding: 0px;
					height: auto;
					clear: both;
					border-bottom: solid 1px #ccc;
					min-height: 140px;
					
					a {
						width: 100%;
					}

					.wp-member-avatar {
						float: left;
						width: 30%;	
						
						span.icon-plus {
							@include border-radius(50%);
							bottom: 30px;
							margin-left: -10px;
							display: block;
							width: 20px;
							height: 20px;
							font-size: 14px;
							line-height: 20px;	
						}						
										
					}

					h2, p {
						text-align: left !important;
						float: right !important;
					}

					h2 {
						width: 60%;
						margin-top: 44px !important;
					}

					p {
						width: 60%;
					}			
				}
				
				.light-box {
					margin-bottom: 40px;
				}

				.wp-member-detail {
					bottom: 30px;
					margin-left: -15px;
					width: 30px;
					height: 30px;
					line-height: 30px;
				}				
				
				#subscribe input[type=text], 
				#subscribe input[type=email],
				#subscribe input[type=submit] {
					width: 100%;
					margin-bottom: 20px;
				}
				
				.section-padding {
					padding: 60px 0px;
				}
				
				.social-btn {
					width: 40px;
					height: 40px;
					line-height: 40px;
				}	

				ul.social-buttons li {
					margin: 2px;
				}							
			}
	
		/* xGA iPad */

			@media screen and (max-width:1024px) {
				#heb_je_idee { background-attachment: scroll; }
				#subscribe { background-attachment: scroll; }
			}

		/* 1200px (Small Desktop, Netbook) */

			@media screen and (max-width:1280px) {
	
			}

		/* Bootstrap 990px Breakpoint to 480px */

			@media screen and (min-width:480px) and (max-width:991px) {
	
			}