

		/*--------------------------------------------------------------
		SLIDER BUTTONS
		--------------------------------------------------------------*/

				.icon-loader {
					background: url(../img/load_black.gif) center center no-repeat;
				}

				.slider-button-group {
    				a {
    					position: absolute; top: 50%; display: block; outline: none; text-align: left; z-index: 6; font-size: 28px;
    					-webkit-transform: translateY(-50%);
    					   -moz-transform: translateY(-50%);
    					    -ms-transform: translateY(-50%);
    					     -o-transform: translateY(-50%);
    					        transform: translateY(-50%);
    				}

                    a.slide-prev {
    					left: 10px;
    				}

    				a.slide-next {
    					right: 10px;
    				}
    				
    				a svg {
    					display: block; margin: 0 auto; padding: 0;
    				}
				}
				
				
				.member-overflow-effect {
					width: 100%;
					overflow: hidden;
					position: relative;
					#member-slider {
						overflow: visible !important;
						width: 100%;
						margin: 0 auto;
					}
	    			&:before {
	    				content: '';
	    				position: absolute;
	    				top: 0;
	    				left: 0;
	    				z-index: 2;
	    				width: 80px;
	    				height: 1000px;
	    		
	    				@include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-8
	    				$experimental-support-for-svg: true;
	    				@include background-image(linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));
	    			}
	    			&:after {
	    				content: '';
	    				width: 80px;
	    				height: 1000px;
	    				position: absolute;
	    				top: 0;
	    				right: 0;
	    				z-index: 2;
	    				
	    				@include filter-gradient(#ffffff, #ffffff, horizontal); // IE6-8
	    				$experimental-support-for-svg: true;
	    				@include background-image(linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%));
	    			}
				}


		


				
            /* QUERIES
            --------------------------------------------------
            */
				
				@media screen and (max-width: 520px) {

				}				