<div class="l-projects">

  <div class="l-project js-tilt" data-kind="project" data-project-name="CTRL Eyewear">
    <div class="l-project__inner" style="background: url(/assets/projects/ctrl-cover.jpg) center center; background-size: cover !important;"></div>
  </div>

  <div class="l-project js-tilt" data-kind="project" data-project-name="Rendement">
    <div class="l-project__inner" style="background: url(/assets/projects/rendement-cover.jpg) center center; background-size: cover !important;"></div>
  </div>

  <div class="l-project js-tilt" data-kind="project" data-project-name="Schaatsbaan Rotterdam">
    <div class="l-project__inner" style="background: url(/assets/projects/schaatsbaan-rotterdam-cover.jpg) center center; background-size: cover !important;"></div>
  </div>

  <div class="l-project js-tilt" data-kind="project" data-project-name="ING">
    <div class="l-project__inner" style="background: url(/assets/projects/crooze-cover.jpg) center center; background-size: cover !important;"></div>
  </div>

</div>
