<!DOCTYPE html>
<html>

	{% include head.html %}

	<body id="top">

    	<div id="loader">
			<div class="inner-loader animated fadeInUp">
            	<span class="icon-heart"></span>
				<h2>Loading Reclama</h2>
			</div>
    	</div>

		{% include header.html %}

		{% include section-01-reclama.html %}
		{% include section-02-block.html %}
		{% include section-03-people.html %}
		{% include section-04-news.html %}
		{% include section-05-contact.html %}

		{% include footer.html %}

		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<script>var reclama = [{% for member in site.data.people %} { "name": "{{ member.name }}", "avatar": "{{ member.avatar }}", "company": "{{ member.company }}", "company_url": "{{ member.company_url }}", "company_position": "{{ member.company_position }}", "company_logo": "{{ member.company_logo }}", "company_work": "{{ member.company_work }}", "twitter": "{{ member.twitter }}", "google": "{{ member.google }}", "behance": "{{ member.behance }}", "mail": "{{ member.mail }}", "description": "{{ member.description }}" }, {% endfor %} {}];</script>
		<script src="assets/js/app.min.js"></script>

	</body>
</html>